src/main/mule/world-demo-api-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb81e22d-9df9-466d-af59-78cdfe1266e4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="86333132-82c8-4749-a0ed-01d839083db2" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="world-demo-api-cicdFlow" doc:id="9acf8862-b010-49e7-bca5-bfdf1eae1c3f" >
		<http:listener doc:name="Listener" doc:id="535c6b6e-407f-4d94-a583-ea47b622b269" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3113ef32-7192-45e5-9c07-f58311883f57" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	region : attributes.uriParams.region,
	city : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
